/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilo para el footer */
.footer {
    background-color: #182888;
    padding: 20px;
    color: #fff;
    text-align: center;
}

/* Contenido del footer */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el logo del footer */
.footer-logo img {
    width: 160px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

/* Estilo para la información del footer */
.footer-info {
    margin-top: 20px;
}

/* Estilo para el título en el footer */
.footer-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Estilo para la lista de la información del footer */
.footer-info ul {
    list-style: none;
    padding: 0;
}

.footer-info ul li {
    margin: 5px 0;
}

/* Estilo para los enlaces */
.aaa {
    color: #ffcc00;
    text-decoration: none;
}

.aaa:hover {
    text-decoration: underline;
}

/* Estilo para la parte inferior del footer */
.footer-bottom {
    margin-top: 20px;
}

/* Estilo para el texto de derechos reservados */
.copyright {
    font-weight: bold;
}
