<header class="header">
    <h2>Registro de clientes</h2>
  </header>

<div class="container">

    <div class="contenido">

        <h4 style="font-weight: bold;">Registrar</h4>

        <form [formGroup]="form" class="form">

            <div>
                <mat-form-field appearance="fill">
                  <mat-label>Elija su Rol</mat-label>
                  <mat-select formControlName="Rol" (selectionChange)="TipoPersonaOnChange($event.value)" required="">
                    <mat-option value="Cliente">Cliente</mat-option>
                  </mat-select>
                  <div *ngIf="form.get('Rol')?.invalid && form.get('Rol')?.touched" class="error">
                    El Rol es requerido
                  </div>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                  <mat-label>Tipo de Persona</mat-label>
                  <mat-select formControlName="TipoPersona" (selectionChange)="TipoPersonaOnChange($event.value)" required="">
                    <mat-option value="Natural">Persona Natural</mat-option>
                    <mat-option value="Juridica">Persona Juridica</mat-option>
                  </mat-select>
                  <div *ngIf="form.get('TipoPersona')?.invalid && form.get('TipoPersona')?.touched" class="error">
                    Tipo de persona es requerida
                  </div>
                </mat-form-field>
            </div>

            <div>        
                <input  type="text"
                        id="Nombre"
                        name="Nombre"
                        formControlName="Nombre"
                        [placeholder]="Placeholder"
                        class="text-input"
                        required="">
                <div *ngIf="form.get('Nombre')?.invalid && form.get('Nombre')?.touched" class="error">
                    El campo es requerido
                </div>
            </div>

            <br>

            <div>        
                <input  type="text"
                        id="Apellido"
                        name="Apellido"
                        formControlName="Apellido"
                        placeholder="Apellido"
                        class="text-input"
                        [readOnly]="Apellido_soloLectura"
                        [ngClass]="{ 'readonly-input': Apellido_soloLectura }"
                        required="">
                <div *ngIf="form.get('Apellido')?.invalid && form.get('Apellido')?.touched" class="error">
                    El Apellido es requerido
                </div>
            </div>
    
            <br>

            <div>        
                <input  type="text"
                        id="Identificacion"
                        name="Identificacion"
                        maxlength="10"
                        formControlName="Identificacion"
                        placeholder="Identificacion"
                        class="text-input"
                        required="">
                <div *ngIf="form.get('Identificacion')?.invalid && form.get('Identificacion')?.touched" class="error">
                    La Identificación es requerida
                </div>
            </div>

            <br>

            <div>        
                <input  type="text"
                        id="Telefono"
                        name="Telefono"
                        maxlength="10"
                        formControlName="Telefono"
                        placeholder="Telefono"
                        class="text-input"
                        required="">
                <div *ngIf="form.get('Telefono')?.invalid && form.get('Telefono')?.touched" class="error">
                    El Telefono es requerido
                </div>
            </div>

            <br>

            <div>        
                <input  type="email"
                        id="Correo"
                        name="Correo"
                        formControlName="Correo"
                        placeholder="Correo"
                        class="text-input"
                        required="">
                <div *ngIf="form.get('Correo')?.invalid && form.get('Correo')?.touched" class="error">
                    El Correo electronico es requerido
                </div>
            </div>

            <br>

            <div>
                <input type="password"
                       id="Contraseña"
                       name="Contraseña"
                       formControlName="Contraseña"
                       placeholder="Ingrese la Contraseña"
                       class="text-input"
                       required>
                <div *ngIf="form.get('Contraseña')?.invalid && form.get('Contraseña')?.touched" class="error">
                    La Contraseña es requerida
                </div>
            </div>

            <br>

            <div>
                <input type="password"
                       id="Contraseña2"
                       name="Contraseña2"
                       formControlName="Contraseña2"
                       placeholder="Repita la Contraseña"
                       class="text-input"
                       required>
                <div *ngIf="form.get('Contraseña2')?.invalid && form.get('Contraseña2')?.touched" class="error">
                    La Verificación de Contraseña es requerida
                </div>
            </div>

            <br>
    
            <div class="buttons">
                <button mat-raised-button
                        color="primary"
                        (click)="RegistrarUsuario()">
                    Registrarme
                </button>
                <button mat-raised-button
                        color="warn"
                        (click)="LimpiarTodo()">
                    Limpiar
                </button>
                <button mat-raised-button
                        color="primary"
                        (click)="Retroceder()">
                        Ya tengo una cuenta
                </button>
            </div>
        </form>

        <div class="loading-overlay" *ngIf="Cargando">
            <div class="spinner"></div>
            <p>Cargando...</p>
          </div>
    </div>

</div>